In [0]:
def multi (n,m):
  return n*m

In [7]:
multi(5,10)

50

In [9]:
num1 = 5
num2 = 6
print("La multiplicacion de "+str(num1)+" y "+str(num2)+" es "+str(multi(num1,num2)))

La multiplicacion de 5 y 6 es 30

In [41]:
neto = 7.00
print("Subtotal sin impuesto es %.2f $, el ITBMS es %.2f $ y el total es %.2f $" %(neto, (multi(compra,0.07)), (multi(compra,1.07))))

Subtotal sin impuesto es 7.00 $, el ITBMS es 0.49 $ y el total es 7.49 $

In [60]:
compra = 100.00
total = multi(compra,1.07)
jubilado = True

print("El Subtotal es de %.2f$" %compra)
print("El Impuesto es de %.2f$" %multi(compra,0.07))
if (jubilado == False):
  print("El Total de la factura es %.2f$" %total)
else:
  print("Tiene derecho a descuento(30%%) y es igual a %.2f$" %(multi(total,0.30)))
  print("El Total de la factura es %.2f$" %(total - multi(total,0.30)))

El Subtotal es de 100.00$
El Impuesto es de 7.00$
Tiene derecho a descuento(30%) y es igual a 32.10$
El Total de la factura es 74.90$